form {
    width: 50%;
    margin: 0 auto;
    margin-top: 3em;
}

.shorten-button {
    text-align: center;
    margin-top: 1em;
}

.if-success {
    text-align: center;
    margin-top: 2em;
}

.notification {
    width: 50%;
    margin: 0 auto;
    margin-top: 3em;
}